html,
body {
  height: 100%;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  width: 100%;
}
.lt-content {
  position: relative;
  min-width: 320px;
  max-width: 640px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  padding-top: 45px;
  padding-bottom: 55px;
}
.lt-content .lt-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 45px;
  background-color: #006699;
  height: 45px;
}
.lt-content .lt-header .icon-left,
.lt-content .lt-header .icon-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: #fff;
}
.lt-content .lt-header .icon-left {
  right: auto;
  left: 0;
}
.lt-content .lt-header h3 {
  line-height: 45px;
  margin: 0;
  color: #fff;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
}
.lt-content .lt-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 55px;
  background-color: #006699;
  width: 100%;
  overflow: hidden;
}
.lt-content .lt-footer ul li {
  float: left;
  width: 25%;
  text-align: center;
}
.lt-content .lt-footer ul li a {
  color: #fff;
  display: block;
  width: 100%;
  height: 100%;
  margin-top: 8px;
}
.lt-content .lt-footer ul li a p {
  color: #fff;
  margin: 0;
}
.lt-content .lt-footer ul li a.current {
  color: orange;
}
.lt-content .lt-footer ul li a.current p {
  color: orange;
}
.lt-content .lt-main {
  width: 100%;
  height: 100%;
  position: relative;
}
.lt-content .lt-main .lt-search {
  padding: 10px;
  position: relative;
}
.lt-content .lt-main .lt-search .search-input {
  height: 34px;
  line-height: 34;
  font-size: 12px;
  padding: 0;
  margin: 0;
  border: 1px solid #007AFF;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 55px;
}
.lt-content .lt-main .lt-search .search-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 0 5px 5px 0;
}
.lt-content .lt-main .lt-pro {
  padding: 10px;
}
.lt-content .lt-main .lt-pro ul li {
  float: left;
  border: 1px solid #ccc;
  padding: 10px;
  width: 48%;
  text-align: center;
  margin-bottom: 10px;
}
.lt-content .lt-main .lt-pro ul li img {
  width: 100px;
  height: 150px;
  margin: 0 auto;
}
.lt-content .lt-main .lt-pro ul li .desc {
  text-align: left;
  height: 40px;
}
.lt-content .lt-main .lt-pro ul li .price {
  color: red;
}
.lt-content .lt-main .lt-pro ul li .oldprice {
  text-decoration: line-through;
}
.lt-content .lt-main .lt-pro ul li:nth-child(2n+1) {
  margin-right: 4%;
}
